*{
    margin:0;
    padding:0;
}
ul，li{
    list-style: none;
}
/*body{*/
    /*overflow:scroll;*/
    /*overflow-x:hidden*/
/*}*/
/*---------*/
.BLS-INDEX{
    position:fixed;
    z-index:-99;
}
.banner {
    width: 100%;
    height: 100%;
    z-index: 99;
}
/*.BLS-logo{*/
    /*position:absolute;*/
/*}*/
.banner-test{
    position: absolute;
    margin:70% auto;
}
.banner-img{
    height:100vh;
    background: no-repeat;
    background-size: cover!important;
    overflow: hidden;
}
.banner-img1{
    background: url("../images/2233/banner-1.jpg");
}.banner-img2{
    background: url("../images/2233/banner-2.jpg");
}.banner-img3{
    background: url("../images/2233/banner-3.jpg");
}.banner-img4{
    background: url("../images/2233/banner-4.jpg");
}
