*{
    margin:0;
    padding:0;
}
ulï¼Œli{
    list-style: none;
}
/*body{*/
    /*overflow:scroll;*/
    /*overflow-x:hidden*/
/*}*/
/*---------*/
nav{
    margin-bottom: 0!important;
}
.BLS-INDEX{
    position:fixed;
    z-index:-99;
}
.banner {
    width: 100%;
    /*height:100vh;*/
    z-index: 95;
    border-bottom: 3px solid #3e1266;
    margin-bottom: 200px;
    cursor: pointer;
}
.banner-mask{
    position:relative;
    background: rgba(0,0,0,0.8);
    width:100%;
    height:100%;
}
.banner-test{
    color:#fff;
    position:relative;
    left:50%;
    top:50%;
    z-index: 99;
}
.skip{
    display:none;
}
.banner-img{
    height:900px;
    padding:0;
    background: no-repeat;
    background-size: cover!important;
    overflow: hidden;
}
.banner-img1{
    background: url("../images/2233/banner-1.jpg");
}.banner-img2{
    background: url("../images/2233/banner-2.jpg");
}.banner-img3{
    background: url("../images/2233/banner-3.jpg");
}.banner-img4{
    background: url("../images/2233/banner-4.jpg");
}
