* {
    margin: 0;
    padding: 0;
    text-align: center;
}

ul，li {
    list-style: none;
}

img {
    /*img默认是inline-block*/
    display: block;
}
a{
    text-decoration: none;
}
@media (min-width: 1400px) {
    .container {
        width: 1400px;
    }
}

/*---------*/
nav {
    margin-bottom: 0 !important;
}

.BLS-INDEX {
    position: fixed;
    z-index: -99;
}

.banner {
    width: 100%;
    /*height:100vh;*/
    z-index: 95;
    border-bottom: 3px solid #3e1266;
    margin-bottom: 200px;
    cursor: pointer;
}

.banner-mask {
    position: relative;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
}

.banner-test {
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 99;
}

.skip {
    display: none;
}

.banner-img {
    height: 900px;
    padding: 0;
    background: no-repeat;
    background-size: cover !important;
    overflow: hidden;
}

.banner-img1 {
    background: url("../images/2233/banner-1.jpg");
}

.banner-img2 {
    background: url("../images/2233/banner-2.jpg");
}

.banner-img3 {
    background: url("../images/2233/banner-3.jpg");
}

.banner-img4 {
    background: url("../images/2233/banner-4.jpg");
}

.part1 {
    padding: 0;
    width: 360px;
    height: 225px;
    margin-right: 50px;
    position: relative;
    display: inline-block;
    color: #a9b7e3;
}

.part1-1 {
    background: url("../images/data_image_jpeg;bas… (2).jpg");
}

.part1-2 {
    background: url("../images/data_image_jpeg;bas….jpg");
}

.part1-3 {
    background: url("../images/data_image_jpeg;bas… (1).jpg");
}

.right-top1 {
    position: absolute;
    top: -56px;
    right: -102px;
    width: 306px;
    height: 194px;
    z-index: 99;
}

.right-top2 {
    position: absolute;
    z-index: 99;
    top: -52px;
    right: -26px;
    width: 122px;
    height: 151px;
}

.right-top3 {
    position: absolute;
    z-index: 99;
    top: -80px;
    right: -40px;
    width: 166px;
    height: 187px;
}

.text1 {
    position: absolute;
    left: 20px;
    bottom: 120px;
    font-size: 36px;
    font-weight: 700;
}

.text2 {
    position: absolute;
    left: 20px;
    bottom: 30px;
}

.winner {
    width: 360px;
    height: 605px;
    display: inline-block;
    margin-right: 48px;
}

.winner-show {
    width: 360px;
    height: 460px;
    background: url("../images/someone5.jpg") no-repeat;

}

.event-title1{
    width: 409px;
    height: 104px;
    background: url("../images/data_image_png;base… (22).png") no-repeat;
}.event-title4{
     width: 497px;
     height: 104px;
     background: url("../images/data_image_png;base… (24).png") no-repeat;
}

.event-content{
    position: relative;
}
.temp-test{
    position: relative;
    width: 1105px;
    height: 500px;
}
/*---------------------------------------*/
.event-content1{
    width: 860px;
    height: 700px;
}

.gift-carousel{
    position: absolute;
    top: 0;
    left: 0;
    background-size: contain;
    width: 860px;
    height: 520px;
    background: url("../images/card-inner-4.0cbf03c.png");
}
.gift-icon{
    top: -85px;
    right: 160px;
    width: 280px;
    height: 276px;
    position: absolute;
    background: url("../images/high-2.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.gift-text{
    position: absolute;
    left: 100px;
    color: #a9b7e3;
    line-height: 40px;
}
.gift-name{
    top: 34px;
    font-size: 40px;
    font-weight: 700;
}
.gift-about{
    top: 104px;
    font-size: 18px;
}
.gift-info{
    top: 244px;
    font-size: 18px;
}
/*------------------------------------*/
.event-title2{
    width: 495px;
    height: 103px;
    background: url("../images/data_image_png;base… (20).png") no-repeat;
}
.e2-left{
    color:#fff;
    position:absolute;
    left:0;
    width: 680px;
    height: 470px;
    background: url("../images/data_image_png;base(white).png");
}
.e2-left-title,.e2-left-text{
    left:40px;
    position: absolute;
}
.e2-left-title{
    top:30px;
    font-size:36px;
}
.e2-left-text{
    top: 105px;
    font-size: 18px;
    line-height: 40px;
}
/*--------------*/
.e2-right{
    position: absolute;
    right:0;
    width: 720px;
    height: 470px;
    background: url("../images/data_image_png;base… (18).png");
}
.e2-right>h3{
    position: absolute;
    right:60px;
    color:#fff;
}
.e1-right-text{
    top:60px;
}
.e2-right-title{
    top:20px;
    line-height: 90px;
    font-size: 48px;
}
.e2-right-info{
    top: 180px;
    right: 80px;
    line-height: 40px;
    font-size: 18px;
}
/*------------------------------------------*/
.event-title3{
    width: 668px;
    height: 102px;
    background: url("../images/data_image_png;base… (4).png") no-repeat;
    margin:156px auto 78px;
}
.event-content3{
    background:url("../images/data_image_png;base… (19).png");
    width:1040px;
    height:280px;
}
/*---------------------------------------------*/
.item{
        color:#fff;
    width:815px;
    height:211px;
    left:50%;
    /*transform: 0 -50%;*/
}
.item-info{
    font-size: 18px;
}
.item-icon{
    background: url("../images/rich-king.png") no-repeat center;
    width: 255px;
    height: 77px;
    margin-top:20px;
}
/*------------------------------------------------------------*/
.e3-left,.e3-right{
    position:absolute;
}
.e3-left{
    bottom: 30px;
    width: 400px;
    height: 340px;
    background: url("../images/content-1-3-2.a36eda9.png");
}
.e3-right{
    right: 0;
    bottom: 0;
    width: 840px;
    height: 340px;
    background: url("../images/SEFADIHAFSGBJHKKGFMKDJGSGHF.png");
}